.each-item {
  background-color: #272727;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 60%;
  padding: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  background-size: cover;
}
.card {
  display: flex;
}
.title-rating {
  display: flex;
  flex-direction: column;
}
title {
  color: #ffffff;
  font-size: 13px;
  font-family: 'roboto';
}
.rating {
  color: #ffffff;
  font-size: 10px;
  font-family: 'roboto';
}
.location-package {
  display: flex;
  justify-content: space-between;
}
